<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <link rel="icon" href="/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Primary Meta Tags -->
    <title><%= VITE_APP_TITLE %></title>
    <meta name="title" content="<%= VITE_APP_TITLE %>">
    <meta name="description" content="<%= VITE_APP_DESCRIPTION %>">
    <meta name="keywords" content="<%= VITE_APP_KEYWORDS %>">
    <meta name="author" content="<%= VITE_APP_AUTHOR %>">
    <meta name="robots" content="index, follow">
    
    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://<%= VITE_APP_DOMAIN %>/">
    <meta property="og:title" content="<%= VITE_APP_TITLE %>">
    <meta property="og:description" content="<%= VITE_APP_DESCRIPTION %>">
    <meta property="og:image" content="https://<%= VITE_APP_DOMAIN %>/<%= VITE_APP_SOCIAL_IMAGE %>">
    
    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://<%= VITE_APP_DOMAIN %>/">
    <meta property="twitter:title" content="<%= VITE_APP_TITLE %>">
    <meta property="twitter:description" content="<%= VITE_APP_DESCRIPTION %>">
    <meta property="twitter:image" content="https://<%= VITE_APP_DOMAIN %>/<%= VITE_APP_SOCIAL_IMAGE %>">
  </head>
  <body>
    <div id="app"></div>
    <script type="module" src="/src/main.ts"></script>
  </body>
</html> 